body {
  background-image: url('https://www.n2wu.com/assets/img/ko.jpg');
  background-repeat: repeat-x;
  background-size: cover;
}

.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
	background: rgba(255, 255, 255, 0.5);
}

/*
.post-preview, .post-title, 
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	background: rgba(255, 255, 255, 0.5);
}

.intro-header, .page-heading, .page-subheading, .intro-header, .post-heading, .post-subheading, .blog-tags {
	background: rgba(255, 255, 255, 0.5);
}
*/
